.#{$prefixCls} {
  &help {
    position: fixed;
    z-index: 1000;
  }

  &help-icon {
    background: url("../images/help-icon.png") no-repeat;
    display: inline-block;
    background-size: 100%;
    width: 15px;
    height: 15px;
    vertical-align: text-top;
  }

  &help-panel {
    padding: 1rem;
    h3 {
      color: #f49b00;
    }
    p {
      text-indent: 2em;
      color: $text-muted;
    }
    ol, ul {
      padding-left: 2em;
      list-style-position: inside;
    }

    table {
      border: 1px solid $text-muted;
      margin-left: 1rem;
      margin-bottom: 0.5rem;
      td {
        border-right: 1px solid $text-muted;
        border-bottom: 1px solid $text-muted;
        color: $text-muted;
        padding: 0.3rem;
      }
    }
  }

  &protocol {
    padding: 1rem;
    ol, ul {
      padding-left: 0;
      list-style-position: inside;
    }
    h3 {
      font-weight: bold;
    }
    p {
    }
  }

  &guide-swiper {
    background: #fff;
  }

  &guide-img {
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f1f8ff;
    position: relative;
  }

  &guide-btn-send {
    position: absolute;
    left: 2rem;
    right: 2rem;
    height: 3rem;
    bottom: 4rem;
  }
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 2rem
}

.swiper-pagination-bullet {
  background: #d9ebfe;
  opacity: 1;
  width: 4px;
  height: 4px;
}

.swiper-pagination-bullet-active {
  background: #ec5256;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 2px;
}
