.#{$prefixCls} {
  &help {
    position: absolute;
    top: 0;
    right: 1rem;
  }

  &help-icon {
    background: url("../images/help-icon.png") no-repeat;
    display: inline-block;
    background-size: 100%;
    width: 15px;
    height: 15px;
    vertical-align: text-top;
  }

  &help-icon-lg {
    background: url("../images/help-icon-lg.png") no-repeat;
    display: inline-block;
    background-size: 100%;
    width: 20px;
    height: 20px;
    vertical-align: text-top;
  }

  &help-panel {
    padding: 1rem;
    h3 {
      color: #f49b00;
    }
    p {
      text-indent: 2em;
      color: $text-muted;
    }
    ol, ul {
      padding-left: 2em;
      list-style-position: inside;
    }

    table {
      border: 1px solid $text-muted;
      margin-left: 1rem;
      margin-bottom: 0.5rem;
      td {
        border-right: 1px solid $text-muted;
        border-bottom: 1px solid $text-muted;
        color: $text-muted;
        padding: 0.3rem;
      }
    }
  }

  &protocol {
    padding: 1rem;
    ol, ul {
      padding-left: 0;
      list-style-position: inside;
    }
    h3 {
      font-weight: bold;
    }
    p {
    }
  }

  &guide-swiper {
    background: #fff;
  }

  &guide-img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10000;
    > img {
      width: 100%;
    }
  }

  &guide-btn-send {
    position: absolute;
    left: 2rem;
    right: 2rem;
    height: 3rem;
    bottom: 4rem;
  }
}

.hb-strategy-img {
  padding-left: 0;
  img {
    display: block;
    width: 100%;
  }
}

.hb-strategy-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  padding: 0.5rem 1.5rem;
  text-align: center;
  a {
    display: inline-block;
    width: 25%;
    padding: 0.3rem 0.5rem;
    border: 1px solid #d84e44;
    color: #d84e44;
    &:first-child {
      border-bottom-left-radius: 0.3rem;
      border-top-left-radius: 0.3rem;
    }
    &:last-child {
      border-bottom-right-radius: 0.3rem;
      border-top-right-radius: 0.3rem;
    }
    &.active {
      color: #fff;
      background-color: #d84e44;
    }
  }
  a + a {
    margin-left: -1px;
  }
}

.swiper-pagination-bullet {
  background: #d9ebfe;
  opacity: 1;
  width: 4px;
  height: 4px;
}

.swiper-pagination-bullet-active {
  background: #ec5256;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 2px;
}
