//项目自定义重置
html, body {
  overflow-x: hidden;
}

// 处理底部内容始终显示在底部
html {
  position: relative;
}

html, body {
  height: auto;
  min-height: 100%;
}

//弹性滚动，Android 不支持
/*body {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}*/

ul {
  list-style: none;
}

li {
  padding-left: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.h1 {
  font-weight: 200;
}

.m-t-0-3 {
  margin-top: 0.3rem;
}

.m-t-0-5 {
  margin-top: 0.5rem;
}

.m-l-0-3 {
  margin-left: 0.3rem;
}

.m-l-0-75 {
  margin-left: 0.75rem;
}

.m-b-0-3 {
  margin-bottom: 0.3rem;
}

.p-y-0-5 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
