.icon{
  display: inline-block;
  background-size: 100%;
  background-repeat: no-repeat;
  vertical-align: text-top;
}
.icon-champion {
  background-image: url("../images/champion.png");
  width: 17.5px;
  height: 14.5px;
}
