//项目自定义重置
html, body {
  overflow-x: hidden;
}

ul {
  list-style: none;
}

li {
  padding-left: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.m-l-0-3 {
  margin-left: 0.3rem;
}

.#{$prefixCls} {
  &link-block {
    color: $gray-dark;

    @include hover-focus {
      color: $gray-dark;
      text-decoration: $link-hover-decoration;
    }
  }

  &single {
    background: #fff;
    padding: 0.75rem;
    border-radius: .3rem;
    margin-bottom: .3rem;
  }

  &list {
    background: #fff;
    border-top: 1px solid $gray-lightest;
    border-bottom: 1px solid $gray-lightest;
    padding-left: 0;
    > li {
      border-bottom: 1px solid $gray-lightest;
      padding: 0.75rem 1rem;
      &:last-child {
        border-bottom: 0;
      }
    }
  }

  &figure {
    display: inline-block;
    text-align: center;
    width: 5rem;
    height: 5rem;
  }

  &nav-btn-group {
    background: #fff;
    padding: .5rem 2rem;
    text-align: center;
    @at-root {
      .#{$prefixCls}nav-btn-left {
        @include border-left-radius(0.25rem);
        border: 1px solid $brand-primary;
        padding: 0.5rem;
        color: $brand-primary;
        &.active {
          background: $brand-primary;
          color: #fff;
        }
      }

      .#{$prefixCls}nav-btn-right {
        @include border-right-radius(0.25rem);
        border: 1px solid $brand-primary;
        padding: 0.5rem;
        color: $brand-primary;
        &.active {
          background: $brand-primary;
          color: #fff;
        }
      }
    }
  }

  &arrows-active {
    position: relative;
    background: #fff;
    &:before {
      position: absolute;
      height: 1.2rem;
      width: 1.2rem;
      top: -0.56rem;
      background: inherit;
    }
  }

  // 以下计算位置不太准确，应该计算屏幕的宽度 * 5 / 24 + width/2 箭头宽度
  &arrows-active-left:before {
    left: 17%;
  }
  &arrows-active-right:before {
    right: 17%;
  }

  &product-nav {
    background: #fff;
    padding: 0 1.5rem;
    border-top: 1px solid $gray-lighter;
    @at-root {
      .#{$prefixCls}product-nav-btn {
        padding: 1rem 0 0.9rem;
        display: inline-block;
        width: 30%;
        text-align: center;
        &.active {
          border-bottom: 2px solid $brand-primary;
        }
      }
    }
  }

  &product-swiper {
    background: #fff;
    border-bottom: 1px solid $gray-lighter;
    padding-bottom: 1rem;
  }

  &swiper-img {
    display: block;
    margin: 0 auto;
    width: auto;
    max-height: 30rem;
    min-height: 10rem;
  }

  &product-title {
    background: #fff;
    padding: 1.5rem;
  }

  &product-detail {
    background: #fff;
    padding: 1rem;
    img {
      display: block;
      width: 100%;
      height: auto;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    img:first-child {
      margin-top: 0;
    }
    img + img {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &modal {
    .rc-modal-dialog {
      margin-left: 2rem;
      margin-right: 2rem;
    }
    .rc-modal-content {
      background: transparent;
      border: 0;
      border-radius: 0;
    }
    .rc-modal-body {
      padding: 0;
    }
  }

  &ellipse-arc-mask {
    position: relative;
    background: #d64f47;
    @include border-radius(5px);
    height: 100%;
  }

  &ellipse-arc-flat {
    width: 100%;
    height: 65%;
    border-radius: 50%/20%;
    @include border-top-radius(5px);
    background: #dd554d;
    position: absolute;
    bottom: 35%;
    box-shadow: 0 0 0.5rem #c94a43;
    color: #fee1b4;
    text-align: center;
    padding: 1rem 2rem;
  }

  &btn-circle {
    position: absolute;
    width: 7rem;
    height: 7rem;
    background: #dcbc88;
    border-radius: 50%;
    left: 50%;
    margin-left: -3.5rem;
    bottom: 23%;
    border: 1px solid #d0b17f;
    color: #3b3b3b;
    box-shadow: 0 0 0 0.5rem #dcbc88;
    font-size: 1.75rem;
    display: flex;
    cursor: pointer;
  }

  &ellipse-arc-sharp {
    position: absolute;
    bottom: 0;
    background: greenyellow;
    width: 100%;
    height: 100%;
    z-index: 10;
    border-radius: 9px/30px;
  }

  &fillet-1 {
    border-radius: 1.25rem;
  }

  &radio {
    border-radius: 50%;
    background: $brand-primary;
    position: relative;
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    vertical-align: top;
    margin-right: 0.3rem;
    text-align: center;

    &.checked:after {
      position: absolute;
      border-left: 1px solid #fff;
      border-bottom: 1px solid #fff;
      content: "";
      width: 60%;
      height: 30%;
      transform: translate(-50%, 70%) rotate(-45deg);
    }
  }

  &money {
    font-weight: 100;
    font-size: 3rem;
  }

  &logo {
    background: url("../images/wallet-logo-gray.png") no-repeat;
    display: inline-block;
    background-size: 100%;
    width: 62px;
    height: 17px;
  }

  &help {
    position: fixed;
    right: 1rem;
    bottom: 10rem;
  }

  &help-icon {
    background: url("../images/help.png") no-repeat;
    display: inline-block;
    background-size: 100%;
    width: 30px;
    height: 30px;
  }

  &luck-link {
    color: #fee1b4;
    position: absolute;
    bottom: 2rem;
    width: 100%;
    text-align: center;
  }

  &iscroll {
    margin-top: 3.65rem;
  }

  &mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
  }

  &no-items {
    width: 7rem;
    height: 7rem;
    display: block;
    margin: 0 auto;
  }

  &img-text-thumb {
    border: 1px solid $gray-lighter;
    width: 4rem;
    float: right;
    img {
      display: block;
      width: 100%;
      padding: 0.1rem;
      padding-bottom: 0;
      border-bottom: 1px solid $gray-lighter;
    }
    .label-text {
      text-align: center;
      font-size: $font-size-sm;
    }
  }

  &logo-concern {
    display: inline-block;
    background: url("../images/wallet-logo-concern.png") no-repeat;
    width: 17.5px;
    height: 18px;
    background-size: 100%;
    vertical-align: top;
  }
}

.weixin-share-guide {
  padding: 1rem 2rem;
  z-index: 2000;
}
