// Typography

@mixin text-emphasis-variant($parent, $color) {
  #{$parent} {
    color: $color !important;
  }
  a#{$parent} {
    @include hover-focus {
      color: darken($color, 10%);
    }
  }
}

@mixin text-background-variant($parent, $bg-color, $color: #fff) {
  #{$parent} {
    background-color: $bg-color;
    color: $color;
  }
}
