// 图片样式
//自适应图片
.img-fluid {
  @include img-fluid();
}

// 圆角图片
.img-rounded {
  @include border-radius($border-radius-lg);
}

// Image thumbnails
.img-thumbnail {
  padding: 3px;
  background-color: #fff;
  @include border-radius($thumbnail-border-radius);
  transition: all .2s ease-in-out;
  @include box-shadow($thumbnail-box-shadow);

  // Keep them at most 100% wide
  @include img-fluid(inline-block);
}

// Perfect circle
.img-circle {
  border-radius: 50%;
}

//
// Figures
//

.figure {
  // Ensures the caption's text aligns with the image.
  display: inline-block;
}

.figure-img {
  margin-bottom: ($spacer-y / 2);
  line-height: 1;
}

.figure-caption {
  font-size: $figure-caption-font-size;
  color: $gray-light;
}
