.load-shim{
  display: none;
  text-align: center;
  text-indent: -9999px;
}
.loading {
  display: inline-block;
  background: #fff url(../images/loading.gif) center no-repeat;
  background-size: 20px;
}
