/*react 动画效果*/

// 透明效果
.hb-opacity-enter {
  opacity: 0.01;
}

.hb-opacity-enter.hb-opacity-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.hb-opacity-leave {
  opacity: 1;
}

.hb-opacity-leave.hb-opacity-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}


//fade in 效果
.hb-fade-in-enter {
  transform: translate(-100%, -100%);
}

.hb-fade-in-enter.hb-fade-in-enter-active {
  transform: translate(0, 0);
  transition: transform 500ms ease-in;
}

.hb-fade-in-leave {
  transform: translate(0, 0);
}

.hb-fade-in-leave.hb-fade-in-leave-active {
  transform: translate(100%, 100%);
  transition: translate 500ms ease-in;
}

//右侧进入
/*.hb-right-appear {
  transform: translate(100%, 0);
}
.hb-right-appear.hb-right-appear-active {
  transform: translate(90%, 0);
  transition: transform 500ms ease-in;
}*/

.hb-right-enter {
  transform: translate(100%, 0);
}

.hb-right-enter.hb-right-enter-active {
  transform: translate(0, 0);
  transition: transform 100ms ease-in;
}

.hb-right-leave {
  transform: translate(0, 0);
}

.hb-right-leave.hb-right-leave-active {
  transform: translate(-100%, 0);
  transition: translate 100ms ease-in;
}

//从下往上动画效果
.hb-burst-in-enter {
  opacity: 0.01;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-animation-duration: .3s;
  animation-duration: .3s;

  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;

  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-name: burstIn;
  animation-name: burstIn
}

.hb-burst-in--enter.hb-burst-in-enter-active {
  opacity: 1;
}

@-webkit-keyframes burstIn {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1
  }
}

@keyframes burstIn {
  0% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0
  }

  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1
  }
}
